body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #132a13;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 640px;
  min-width: 200px;
  color: white;
}

nav,
nav a {
  background-color: #ecf39e;
  color: black;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  gap: 5rem;
}

header {
  background-color: #90a955;
  padding: 20px;
}

main {
  background-color: #4f772d;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.pictureSection {
  margin-top: 5px;
}

footer {
  background-color: #31572c;
  color: white;
  padding: 20px;
}

.whiteText {
  color: white;
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
