body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #132A13;
    margin-left: auto; 
    margin-right: auto; 
    padding: 20px; 
    max-width: 640px; 
    min-width: 200px;
    color: white;
}

nav, nav a {
    background-color: #ECF39E;
    color: black; 
    padding: 0px;
    list-style: none; 
    text-decoration: none;
    gap: 5rem; 
}

header {
    background-color: #90A955;
    padding: 20px; 
}

main {
    background-color: #4F772D;
    padding: 20px; 
}

.pictureSection {
    margin-top: 5px; 
}

footer {
    background-color: #31572C;
    color: white;
    padding: 20px; 
}

.whiteText {
    color: white;
}

/* white background on aside. temporarily commented out
.whiteAside {
    background-color: white;
    color: black;
}
*/

.flexBox {
    display: flex;
    align-items: center;
    /*flex-direction:row; */
    justify-content: center;
    
}